@model DressingRoom.DRPers
<div class="container-fluid">
	<div class="row mb-4 align-content-stretch">
		<div class="col-12" id="result">
			<div class="row">
				<div class="col-lg-9 col-12">
					<div class="row">
						<div class="col-3 p-0">
							<div class="font-weight-bold h43" style="height: 44px;">
								<div class="col-12">

								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									Шлем:
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									Наручи:
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									Наплечники:
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									Кольчуга:
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									Сапоги:
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									Основное оружие:
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									Дополнительное оружие:
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									Поножи:
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									Броня:
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									Лук:
								</div>
							</div>
						</div>
						<div class="col-9 p-0" id="runes_frames">
							<div class="row">
								<div class="col-4 p-0 text-center">
									@using (Ajax.BeginForm("Runes_Frames", new AjaxOptions { UpdateTargetId = "runes_frames" }))
									{

										<div class="font-weight-bold h43" style="height: 44px;">
											<div class="col-12">
												Доспехи
											</div>
										</div>
										<div class="h43">
											<div class="col-12">
												@Html.DropDownList("helmet", new SelectList(Model.ClothesList.Helmet.Select(x => new {Value = x.Id, Text = x.NAME, Color = x.Color }), "Value", "Text", "Color"), new { @class = "btn-block DDL" })
											</div>
										</div>
										<div class="h43">
											<div class="col-12">
												@Html.DropDownList("bangle", new SelectList(Model.ClothesList.Bangle.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
											</div>
										</div>
										<div class="h43">
											<div class="col-12">
												@Html.DropDownList("shoulders", new SelectList(Model.ClothesList.Shoulders.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
											</div>
										</div>
										<div class="h43">
											<div class="col-12">
												@Html.DropDownList("hauberk", new SelectList(Model.ClothesList.Hauberk.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
											</div>
										</div>
										<div class="h43">
											<div class="col-12">
												@Html.DropDownList("boots", new SelectList(Model.ClothesList.Boots.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
											</div>
										</div>
										<div class="h43">
											<div class="col-12">
												@Html.DropDownList("mWeapon", new SelectList(Model.ClothesList.MWeapon.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { id = "mWeapon", @class = "btn-block DDL" })
											</div>
										</div>
										<div class="h43">
											<div class="col-12">
												@Html.DropDownList("aWeapon", new SelectList(Model.ClothesList.AWeapon.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { id = "aWeapon", @class = "btn-block DDL" })
											</div>
										</div>
										<div class="h43">
											<div class="col-12">
												@Html.DropDownList("pants", new SelectList(Model.ClothesList.Pants.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
											</div>
										</div>
										<div class="h43">
											<div class="col-12">
												@Html.DropDownList("armor", new SelectList(Model.ClothesList.Armor.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
											</div>
										</div>
										<div class="h43">
											<div class="col-12">
												@Html.DropDownList("bow", new SelectList(Model.ClothesList.Bow.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
											</div>
										</div>
										<div class="row mb-4 mt-4">
											<div class="col-12"><input type="submit" value="Далее" class="btn btn-outline-success btn-block" /></div>
										</div>

									}
								</div>
								<div class="col-4 p-0 text-center">
									<div class="font-weight-bold h43" style="height: 44px;">
										<div class="col-12">
											Руны
										</div>
									</div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
								</div>
								<div class="col-4 p-0 text-center">
									<div class="font-weight-bold h43" style="height: 44px;">
										<div class="col-12">
											Оправы
										</div>
									</div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
									<div class="h43"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-12" id="results">
					<div class="row">
						<div class="col-9 p-0 pl-3">
							<div class="h21 font-weight-bold justify-content-center">
								<div>Характеристики</div>
							</div>
							<div class="h21">
								<div>Ловкость</div>
							</div>
							<div class="h21">
								<div>Защита</div>
							</div>
							<div class="h21">
								<div>Инициатива</div>
							</div>
							<div class="h21">
								<div>Интуиция</div>
							</div>
							<div class="h21">
								<div>Интелект</div>
							</div>
							<div class="h21">
								<div>Сила</div>
							</div>
							<div class="h21">
								<div>Живучесть</div>
							</div>
							<div class="h21">
								<div>Мудрость</div>
							</div>
							<div class="h21">
								<div>Уровень жизни</div>
							</div>
							<div class="h21">
								<div>Уровень маны</div>
							</div>
							<div class="h21">
								<div>Защита огонь-воздух</div>
							</div>
							<div class="h21">
								<div>Защита свет-тьма</div>
							</div>
							<div class="h21">
								<div>Защита земля-вода</div>
							</div>
							<div class="h21">
								<div>Мин. маг. урон</div>
							</div>
							<div class="h21">
								<div>Макс. маг. урон</div>
							</div>
							<div class="h21">
								<div>Мин. физ. урон</div>
							</div>
							<div class="h21">
								<div>Макс. физ. урон</div>
							</div>
							<div class="h21">
								<div>Антитравматизм</div>
							</div>
							<div class="h21">
								<div>Травматизм</div>
							</div>
							<div class="h21">
								<div>Стойкость</div>
							</div>
							<div class="h21">
								<div>Проницание</div>
							</div>
							<div class="h21">
								<div>Скорость</div>
							</div>
						</div>
						<div class="col-3 p-0 text-center">
							<div class="h21 font-weight-bold justify-content-center">
								<div class="col-12"></div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
							<div class="h21">
								<div class="col-12">0</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#mWeapon").change(function ()
	{
		var mw = $(this).val();
		$.ajax({
			type: 'GET',
			url: '@Url.Action("GetAW", new { mWeapon = "mWeapon1" })'.replace("mWeapon1", mw),
			success: function (data) {
				$('#aWeapon').replaceWith(data);
			},
			error: (error) => {
				console.log(JSON.stringify(error));
			}
		});
	});
	$(function () {
		$('form').submit(function () {
			$(this).find(':input[type=submit]').attr('disabled', 'disabled');
		});
	});
</script>
