@model DressingRoom.DRPers
<div id="runes_frames" class="p-0">
	<div class="row">
		<div class="col-4 p-0 text-center">
			<div class="font-weight-bold h43" style="height: 44px;">
				<div class="col-12">
					Доспехи
				</div>
			</div>
			<div class="h43">
				<div class="col-12">
					<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
						 src=@Html.DisplayFor(p => p.Clothes.Helmet.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Helmet.Link)', '',
						 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
						 title="@Html.DisplayFor(p => p.Clothes.Helmet.NAME)">
				</div>
			</div>
			<div class="h43">
				<div class="col-12">
					<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
						 src=@Html.DisplayFor(p => p.Clothes.Bangle.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Bangle.Link)', '',
						 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
						 title="@Html.DisplayFor(p => p.Clothes.Bangle.NAME)">
				</div>
			</div>
			<div class="h43">
				<div class="col-12">
					<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
						 src=@Html.DisplayFor(p => p.Clothes.Shoulders.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Shoulders.Link)', '',
						 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
						 title="@Html.DisplayFor(p => p.Clothes.Shoulders.NAME)">
				</div>
			</div>
			<div class="h43">
				<div class="col-12">
					<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
						 src=@Html.DisplayFor(p => p.Clothes.Hauberk.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Hauberk.Link)', '',
						 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
						 title="@Html.DisplayFor(p => p.Clothes.Hauberk.NAME)">
				</div>
			</div>
			<div class="h43">
				<div class="col-12">
					<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
						 src=@Html.DisplayFor(p => p.Clothes.Boots.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Boots.Link)', '',
						 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
						 title="@Html.DisplayFor(p => p.Clothes.Boots.NAME)">
				</div>
			</div>
			<div class="h43">
				<div class="col-12">
					<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
						 src=@Html.DisplayFor(p => p.Clothes.MWeapon.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.MWeapon.Link)', '',
						 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
						 title="@Html.DisplayFor(p => p.Clothes.MWeapon.NAME)">
				</div>
			</div>
			<div class="h43">
				<div class="col-12">
					<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
						 src=@Html.DisplayFor(p => p.Clothes.AWeapon.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.AWeapon.Link)', '',
						 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
						 title="@Html.DisplayFor(p => p.Clothes.AWeapon.NAME)">
				</div>
			</div>
			<div class="h43">
				<div class="col-12">
					<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
						 src=@Html.DisplayFor(p => p.Clothes.Pants.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Pants.Link)', '',
						 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
						 title="@Html.DisplayFor(p => p.Clothes.Pants.NAME)">
				</div>
			</div>
			<div class="h43">
				<div class="col-12">
					<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
						 src=@Html.DisplayFor(p => p.Clothes.Armor.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Armor.Link)', '',
						 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
						 title="@Html.DisplayFor(p => p.Clothes.Armor.NAME)">
				</div>
			</div>
			<div class="h43">
				<div class="col-12">
					<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
						 src=@Html.DisplayFor(p => p.Clothes.Bow.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Bow.Link)', '',
						 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
						 title="@Html.DisplayFor(p => p.Clothes.Bow.NAME)">
				</div>
			</div>
		</div>
		<div class="col-8">
			@using (Ajax.BeginForm("ViewResult", new AjaxOptions { UpdateTargetId = "result" }))
			{
			<div class="row mr-2">
				<div class="col-6 p-0 text-center">
					<div class="font-weight-bold h43" style="height: 44px;">
						<div class="col-12">
							Руны
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Rhelmet", new SelectList(Model.RunesList.Helmet.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Rbangle", new SelectList(Model.RunesList.Bangle.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Rshoulders", new SelectList(Model.RunesList.Shoulders.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Rhauberk", new SelectList(Model.RunesList.Hauberk.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Rboots", new SelectList(Model.RunesList.Boots.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("RmWeapon", new SelectList(Model.RunesList.MWeapon.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("RaWeapon", new SelectList(Model.RunesList.AWeapon.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Rpants", new SelectList(Model.RunesList.Pants.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Rarmor", new SelectList(Model.RunesList.Armor.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Rbow", new SelectList(Model.RunesList.Bow.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
				</div>
				<div class="col-6 p-0 text-center">
					<div class="font-weight-bold h43" style="height: 44px;">
						<div class="col-12">
							Оправы
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Fhelmet", new SelectList(Model.FramesList.Helmet.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Fbangle", new SelectList(Model.FramesList.Bangle.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Fshoulders", new SelectList(Model.FramesList.Shoulders.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Fhauberk", new SelectList(Model.FramesList.Hauberk.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Fboots", new SelectList(Model.FramesList.Boots.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("FmWeapon", new SelectList(Model.FramesList.MWeapon.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("FaWeapon", new SelectList(Model.FramesList.AWeapon.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Fpants", new SelectList(Model.FramesList.Pants.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Farmor", new SelectList(Model.FramesList.Armor.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							@Html.DropDownList("Fbow", new SelectList(Model.FramesList.Bow.Select(x => new { Value = x.Id, Text = x.NAME }), "Value", "Text"), new { @class = "btn-block DDL" })
						</div>
					</div>
					<div class="row mb-4 mt-4">
						<div class="col-12">
							<input type="submit" value="Результат" class="btn btn-outline-success btn-block" />
						</div>
					</div>
				</div>
			</div>
			}
		</div>
	</div>
</div>