@model DressingRoom.DRPers
<div id="result">
	<div class="row">
		<div class="col-lg-9 col-12 p-0">
			<div class="row">
				<div class="col-3 p-0">
					<div class="font-weight-bold h43" style="height: 44px;">
						<div class="col-12">

						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							Шлем:
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							Наручи:
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							Наплечники:
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							Кольчуга:
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							Сапоги:
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							Основное оружие:
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							Дополнительное оружие:
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							Поножи:
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							Броня:
						</div>
					</div>
					<div class="h43">
						<div class="col-12">
							Лук:
						</div>
					</div>
				</div>
				<div class="col-9 p-0" id="runes_frames">
					<div class="row">
						<div class="col-4 p-0 text-center">
							<div class="font-weight-bold h43" style="height: 44px;">
								<div class="col-12">
									Доспехи
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Clothes.Helmet.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Helmet.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Clothes.Helmet.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Clothes.Bangle.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Bangle.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Clothes.Bangle.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Clothes.Shoulders.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Shoulders.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Clothes.Shoulders.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Clothes.Hauberk.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Hauberk.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Clothes.Hauberk.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Clothes.Boots.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Boots.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Clothes.Boots.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Clothes.MWeapon.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.MWeapon.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Clothes.MWeapon.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Clothes.AWeapon.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.AWeapon.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Clothes.AWeapon.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Clothes.Pants.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Pants.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Clothes.Pants.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Clothes.Armor.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Armor.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Clothes.Armor.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Clothes.Bow.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Clothes.Bow.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Clothes.Bow.NAME)">
								</div>
							</div>
						</div>
						<div class="col-4 p-0 text-center">
							<div class="font-weight-bold h43" style="height: 44px;">
								<div class="col-12">
									Руны
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Runes.Helmet.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Runes.Helmet.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Runes.Helmet.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Runes.Bangle.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Runes.Bangle.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Runes.Bangle.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Runes.Shoulders.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Runes.Shoulders.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Runes.Shoulders.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Runes.Hauberk.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Runes.Hauberk.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Runes.Hauberk.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Runes.Boots.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Runes.Boots.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Runes.Boots.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Runes.MWeapon.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Runes.MWeapon.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Runes.MWeapon.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Runes.AWeapon.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Runes.AWeapon.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Runes.AWeapon.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Runes.Pants.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Runes.Pants.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Runes.Pants.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Runes.Armor.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Runes.Armor.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Runes.Armor.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Runes.Bow.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Runes.Bow.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Runes.Bow.NAME)">
								</div>
							</div>
						</div>
						<div class="col-4 p-0 text-center">
							<div class="font-weight-bold h43" style="height: 44px;">
								<div class="col-12">
									Оправы
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Frames.Helmet.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Frames.Helmet.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Frames.Helmet.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Frames.Bangle.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Frames.Bangle.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Frames.Bangle.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Frames.Shoulders.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Frames.Shoulders.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Frames.Shoulders.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Frames.Hauberk.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Frames.Hauberk.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Frames.Hauberk.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Frames.Boots.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Frames.Boots.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Frames.Boots.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Frames.MWeapon.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Frames.MWeapon.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Frames.MWeapon.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Frames.AWeapon.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Frames.AWeapon.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Frames.AWeapon.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Frames.Pants.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Frames.Pants.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Frames.Pants.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Frames.Armor.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Frames.Armor.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Frames.Armor.NAME)">
								</div>
							</div>
							<div class="h43">
								<div class="col-12">
									<img style="position: relative; display: inline-block; width: 40px; height: 40px; cursor: pointer; vertical-align: bottom; margin: 1px;"
										 src=@Html.DisplayFor(p => p.Frames.Bow.IconPath) onclick="window.open('@Html.DisplayFor(p => p.Frames.Bow.Link)', '',
										 'width=700,height=875,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');return false;"
										 title="@Html.DisplayFor(p => p.Frames.Bow.NAME)">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-12 p-0" id="results">
			<div class="row">
				<div class="col-9 p-0">
					<div class="h21 font-weight-bold justify-content-center">
						<div>Характеристики</div>
					</div>
					<div class="h21">
						<div>Ловкость</div>
					</div>
					<div class="h21">
						<div>Защита</div>
					</div>
					<div class="h21">
						<div>Инициатива</div>
					</div>
					<div class="h21">
						<div>Интуиция</div>
					</div>
					<div class="h21">
						<div>Интелект</div>
					</div>
					<div class="h21">
						<div>Сила</div>
					</div>
					<div class="h21">
						<div>Живучесть</div>
					</div>
					<div class="h21">
						<div>Мудрость</div>
					</div>
					<div class="h21">
						<div>Уровень жизни</div>
					</div>
					<div class="h21">
						<div>Уровень маны</div>
					</div>
					<div class="h21">
						<div>Защита огонь-воздух</div>
					</div>
					<div class="h21">
						<div>Защита свет-тьма</div>
					</div>
					<div class="h21">
						<div>Защита земля-вода</div>
					</div>
					<div class="h21">
						<div>Мин. маг. урон</div>
					</div>
					<div class="h21">
						<div>Макс. маг. урон</div>
					</div>
					<div class="h21">
						<div>Мин. физ. урон</div>
					</div>
					<div class="h21">
						<div>Макс. физ. урон</div>
					</div>
					<div class="h21">
						<div>Антитравматизм</div>
					</div>
					<div class="h21">
						<div>Травматизм</div>
					</div>
					<div class="h21">
						<div>Стойкость</div>
					</div>
					<div class="h21">
						<div>Проницание</div>
					</div>
					<div class="h21">
						<div>Скорость</div>
					</div>
				</div>
				<div class="col-3 p-0 text-center">
					<div class="h21 font-weight-bold justify-content-center">
						<div class="col-12">Значение</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Agility</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Defense</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Initiative</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Intuition</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Intelligence</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Strength</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Vitality</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Wisdom</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Health</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Mana</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.FAprot</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.LDprot</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.EWprot</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.MinMD</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.MaxMD</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.MinPD</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.MaxPD</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Antitraumatism</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Traumatism</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Stamina</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Insight</div>
					</div>
					<div class="h21">
						<div class="col-12">@Model.Stats.Speed</div>
					</div>
				</div>
			</div>
			@Html.ActionLink("В начало", "Index", "DressingRoom", new { @class = "btn btn-outline-success btn-block" })
		</div>
	</div>
</div>